<!DOCTYPE html>
<html lang="en">
<head>
    <title>About - Khe Hy</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/nav') %>

    <main class="container standard-page">
        <article class="content-wrapper">
            <header>
                <h1>About</h1>
            </header>
            <div class="content">
                <p>Welcome to Act 3 of my career.</p> 
                <p>My First Act (age: 21-35) was <b>Wall Street</b></p>
                <p>My Second Act (age: 35-45) was the <b>Creator Economy</b>.</p>
                <p>Now, in Act 3 (age: 46) <b>Artificial Intelligence</b> is about to shake things up.</p>
                <p>I'm not one of those "singularity freaks." I operate as an incrementalist.</p>
                <p>And I've watched AI slowly creep into my workflow and make my life so much better.</p>
                <p>But I was using it more to learn (i.e. "Google substitute") and then as a writing enhancer. But I now think coding (for a non-coder, like me) is the next frontier.</p>
                <p>Can you imagine a world where you can ask AI to spin up a site or app for you within a few hours?</p>
                <p>I think that world is here. And I'll be documenting it here.</p>
                <p>On this site, <b>made by AI.</b></p>
            </div>
        </article>
    </main>

    <%- include('partials/footer') %>
</body>
</html> 