<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact - Khe Hy</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/nav') %>

    <main class="container">
        <article class="blog-post">
            <header class="post-header">
                <h1 class="post-title">Contact Me</h1>
            </header>

            <div class="post-content">
                <p>Coming soon...</p>
            </div>
        </article>
    </main>

    <%- include('partials/footer') %>
</body>
</html> 