<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact - Khe Hy</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/nav') %>

    <main class="container">
        <article class="blog-post">
            <header class="post-header">
                <h1 class="post-title">Let's Connect</h1>
            </header>

            <div class="post-content">
                <p>I'm hyper online and would love to connect with you. Here's where you can find me:</p>
                <ul>
                    <li><a href="https://radreads.co/join" target="_blank" aria-label="Subscribe to my newsletter">Subscribe to my newsletter</a></li>
                    <li><a href="https://radreads.co/blog" target="_blank" aria-label="Read my blog">Read my blog</a></li>
                    <li>
                        Check out the Examined Life podcast on 
                        <a href="https://youtube.com/playlist?list=PLXjo-Fr2SmPVfR2BsDlTqgqy5HHM9ny9C&si=OpXlNsL0sREihrio" target="_blank" aria-label="YouTube">YouTube</a>, 
                        <a href="https://podcasts.apple.com/us/podcast/the-examined-life/id1692585605" target="_blank" aria-label="Apple Podcasts">Apple Podcasts</a>, or 
                        <a href="https://open.spotify.com/show/40D06BjbvSZvvRlLu1N8lf?si=6b77c4b8cfa34fb0" target="_blank" aria-label="Spotify">Spotify</a>
                    
                    </li>

                    <li>I'm most active on <a href="https://twitter.com/khemaridh" target="_blank" aria-label="Twitter">Twitter/X</a>.</li>
                        
                </ul>
            </div>
        </article>
    </main>

    <%- include('partials/footer') %>
</body>
</html> 